{% extends 'base.html' %}
{% block content %}

<section id="main-content" class="container">
<!-- Start Page Content -->
  <hr class="vertical-space1">
    <div class="col-sm-7 align-center">
      <div class="container-sm-height full-height">
        <div class="row row-sm-height">
          <div class="col-sm-12 col-sm-height col-middle">
            <h3>Create a Account</h3>
            <p>
              <small>
              Create a CampNative account. If you have a facebook account, log into it for this process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a>
              </small>
            </p>
            <form id="form-register" class="p-t-15" role="form" action="." method="post" novalidate="novalidate">
                {% csrf_token %}
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label>First Name</label>
                    <input type="text" name="fname" placeholder="Smith" class="form-control" required="" aria-required="true">
                  </div>
                    <span style="color:red">{{ form.fname.errors }}</span>
                </div>
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label>Last Names</label>
                    <input type="text" name="lname" placeholder="Smith" class="form-control" required="" aria-required="true">
                  </div>
                    <span style="color:red">{{ form.lname.errors }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Pages User name</label>
                    <input type="text" name="uname" placeholder="yourname.pages.com (this can be changed later)" class="form-control" required="" aria-required="true">
                  </div>
                    <span style="color:red">{{ form.uname.errors }}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Password</label>
                    <input type="password" name="pass" placeholder="Minimum of 4 Charactors" class="form-control" required="" aria-required="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Email</label>
                   <input type="email" name="email" placeholder="We will send loging details to you" class="form-control" required="" aria-required="true">
                  </div>
                    <span style="color:red">{{ form.email.errors }}</span>
                </div>
              </div>
              <div class="row m-t-10">
                <div class="col-md-6">
                  <div class="checkbox ">
                  <input type="checkbox" value="2" id="checkbox2" name="term_condition">
                  <label for="checkbox2"><p>I agree to the CampNative<a href="#" class="text-info small"> <strong>Terms and Conditions</strong></a>.</p></label>
                  </div>
                    {{ form.term_condition.errors }}
                </div>
              </div>
              <button class="btn btn-primary m-t-10" type="submit">Create a new account</button>
            </form>
          </div>
        </div>
      </div>
  </div> <!-- end col-sm-8 -->

   </section>
{% endblock %}