
	/* # Generals
	================================================== */
	img { height: auto; }

	/* scroll top */
	#scroll-top { display: inline; }

	/* google map */
	.w-google-map { border: 5px solid #eee; }
	.w-google-map iframe { margin-bottom: 0; padding: 0; display: block; width: 100%; border: none; }

	/* mega menu */
	.tagline-thin { text-align: right; }
	.mega-custom-bg1 p { text-align: right; }

	.logo2stk2 img { float: left; margin-right: 11px; }

	#wrap.max-wrap .container { max-width: 1145px; }

	/* Plans & Pricing
	================================================== */
	.plan-wrap { display: block; width: 940px; margin: 0 auto; border: 4px solid #d8d8d8; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.plan-wrap article { width: 25%; float: left; text-align: center; margin: 12px 0; background: #fff; border-right: 1px solid #EDEDED; -webkit-transition: all .03s ease; -moz-transition: all .03s ease; -ms-transition: all .03s ease; -o-transition: all .03s ease; transition: all .03s ease; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	article.ultimate { border: none; }
	.plan-wrap h2 { font-size: 38px; font-weight: 900; letter-spacing: -2px; color: #ef7b49; margin: 20px 0 0; }
	.plan-wrap h3 { color: #777; font-weight: 900; margin-bottom: 40px; }
	.plan-wrap ul { list-style: none; text-align: left; margin: 0 12px; margin-bottom: 30px; }
	.plan-wrap li { padding: 10px 0; margin: 0; font-size: 13px; font-weight: 400; border-bottom: 1px solid #ededed; }
	.premium h2 { color: #19bc9b; }
	.ultimate h2 { color: #35a4da; }
	.plan-wrap article i { margin: 0 10px 0 15%; }
	.plan-wrap .icomoon-checkmark { color: #19bc9b; }
	.plan-wrap .icomoon-close { color: #fe5742; }
	.starter button, .basic button { background: #ef7b49; }
	.premium button { background: #19bc9b; }
	.ultimate button { background: #35a4da; }
	.plan-wrap button { color: #fff; font-size: 14px; font-family: Arial; padding: 14px 36px; border: none; margin-bottom: 13px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.2))); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); }
	.plan-wrap article:hover { -webkit-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
	.plan-wrap article.basic:hover, .plan-wrap article.starter:hover { -webkit-box-shadow: 0 0 0 5px #ef7b49, 0 4px 12px #000; -moz-box-shadow: 0 0 0 5px #ef7b49, 0 4px 12px #000; box-shadow: 0 0 0 5px #ef7b49, 0 4px 12px #000; }
	.plan-wrap article.premium:hover { -webkit-box-shadow: 0 0 0 5px #19bc9b, 0 4px 12px #000; -moz-box-shadow: 0 0 0 5px #19bc9b, 0 4px 12px #000; box-shadow: 0 0 0 5px #19bc9b, 0 4px 12px #000; }
	.plan-wrap article.ultimate:hover { -webkit-box-shadow: 0 0 0 5px #35a4da, 0 4px 12px #000; -moz-box-shadow: 0 0 0 5px #35a4da, 0 4px 12px #000; box-shadow: 0 0 0 5px #35a4da, 0 4px 12px #000; }
	
	@media only screen and (max-width: 959px) {
	.plan-wrap { width: 100%; }
	}
	
	@media only screen and (max-width: 767px) {
	.plan-wrap article { width: 50%; }
	}
	
	@media only screen and (max-width: 479px) {
	.plan-wrap article { width: 100%; }
	}

	/* Gallery Slider (Flex slider)
	================================================== */
	#wrap .gallery_slides { position:relative;}
	.gallery_slides .flex-caption { position:absolute; width:100%; background:none; background-image: -moz-linear-gradient(top, rgba(0,0,0,0.03), rgba(0,0,0,0.9)); background-image: -ms-linear-gradient(top, rgba(0,0,0,0.03), rgba(0,0,0,0.9)); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.03)), torgba(0,0,0,0.9)); background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.03), rgba(0,0,0,0.9)); background-image: -o-linear-gradient(top, rgba(0,0,0,0.03), rgba(0,0,0,0.9)); background-image: linear-gradient(top, rgba(0,0,0,0.03), rgba(0,0,0,0.9));  -moz-box-sizing: border-box !important; box-sizing: border-box !important; left:0; bottom:0; padding:35px 50px 15px 60px; text-align:left; }
	.gallery_slides .flex-caption h2.post-title { font-size: 29px; font-weight:800; font-family: 'futura-pt', 'Source Sans Pro',  Helvetica, Arial, sans-serif; line-height:1.3; letter-spacing: -0.03em; margin-bottom:6px;}
	.gallery_slides .flex-caption h2.post-title a { color:#fff; text-shadow:0 1px 4px rgba(0,0,0,0.8);}
	.gallery_slides .flex-caption p  { font-size:15px; color:#d9d9d9; text-shadow:0 1px 0 #000; font-weight:400; margin-bottom:10px;}
	.gallery_slides .flex-caption a.readmore { font-size:10px; padding:6px 12px; text-transform:uppercase; letter-spacing:1.5px; border-radius: 0; font-weight:600; color:#fff; margin-top:10px; margin-bottom:0; float:none; border:2px solid #fff; text-shadow:0 1px 3px rgba(0,0,0,0.6); box-shadow:0 1px 3px rgba(0,0,0,0.4);  display:inline-block;}
	.gallery_slides .flex-caption a.readmore:after { content:""; display:none;}
	.gallery_slides .flex-caption h6, .gallery_slides .flex-caption h6 a { font-family: 'Arapey', serif; font-size:18px; font-weight:400; color:#fff; text-shadow:0 1px 3px rgba(0,0,0,0.7);}
	.gallery_slides .flex-caption h6 a:hover { color:#ff9900; text-decoration:underline;}
	.gallery_slides .flex-control-nav { display:none;}
	.gallery_slides .flex-direction-nav a { opacity: 0.28; padding:30px 5px;}
	.gallery_slides:hover .flex-direction-nav a { opacity: 0.65; }
	.gallery_slides .flex-direction-nav a:hover { opacity: 1; }
	.gallery_slides .flex-direction-nav .flex-next, .gallery_slides .flex-direction-nav .flex-prev { border-radius: 0; background:none; border:none; }
	.gallery_slides .flex-direction-nav .flex-next { margin-right:5px;}
	.gallery_slides .flex-direction-nav .flex-prev { margin-left:3px;}
	.gallery_slides .flex-direction-nav a i { font-size:16px; padding:10px 12px; text-shadow:0 1px 3px rgba(0,0,0,0.1); border:2px solid rgba(255,255,255,0.75); border-radius:33px;}
	.gallery_slides.flexslider:hover .flex-next:hover, .gallery_slides.flexslider:hover .flex-prev:hover { background:none; }
	@media only screen and (max-width: 768px) {
	.gallery_slides .flex-caption h2.post-title { font-size:19px;}
	.gallery_slides .flex-caption h6, .gallery_slides .flex-caption h6 a { font-size:12px;}
	.gallery_slides .flex-caption a.readmore { display:none;}
	.gallery_slides .flex-caption p { display:none;}
	}
	@media only screen and (max-width: 479px) {
	.gallery_slides .flex-caption { top:12%;}
	}


	/* Progress bar
	================================================== */
	.progress { background-color: #f7f7f7; position: relative; margin-bottom: 12px; height:11px; margin-top: 50px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; }
	.progress small { position: relative; z-index: 1; top:-24px; color:#797d84; font-size:14px; font-weight:300; }
	.progress small .unit { float:right; margin-top:-24px;}
	.progress .progress-striped { display: block; position: absolute; height: 100%; background-color: #e0e0e0; width: 0%; top: 0; left: 0; transition: width 1s linear; -moz-transition: width 1s linear; -webkit-transition: width 1s linear; -o-transition: width 1s linear; }
	.progress .progress-striped.p-grey { background-color: #898c90; }
	.progress .progress-striped.p-green { background-color: #5bb75b; }
	.progress .progress-striped.p-blue { background-color: #0074cc; }
	.progress .progress-striped.p-green { background-color: #5bb75b; }
	.progress .progress-striped.p-orange { background-color: #faa732; }
	.progress .progress-striped.p-red { background-color: #da4f49; }

	/* # Home Business
	================================================== */
	/* icon-box */
	.business .icon-box4 i.li_phone, .modern .icon-box1 i.li_phone { color:#fd7c7d; }
	.business .icon-box4 i.li_params, .modern .icon-box1 i.li_params { color:#79d2d2; }
	.business .icon-box4 i.li_clock, .modern .icon-box1 i.li_clock { color:#d8c3ae; }
	.business .icon-box4 i.li_lab { color:#8ade77; }
	.business .icon-box4 i.li_world { color:#66bad0; }
	.business .icon-box4 i.li_vallet { color:#f6dc15; }
	.business .icon-box i.li_vynil { color:#b69eff; }
	.business .icon-box i.li_settings { color:#8bc36a; }
	.business .icon-box i.li_megaphone { color:#f9d907; }

	
	/* bloxes */
	.business .blox1, .modern .blox3 { background-size: cover; background-color:#f7f7f7; }
	.business .blox2 { background-size: cover; background-color:#50c4d5; }
	.business .blox3 { padding-top:65px; background-size: cover; background-color:#f7f7f8; }


	/* # Home Modern
	================================================== */
	.modern.transparent-header-w #header.sticky #nav > li > a { color: #666; text-shadow: none; }
	.modern .tagline-thin { text-align: center; }
	.modern .slog { text-align: center; }
	.modern .slog.alignleft { text-align: left; }
	.modern .lintex { margin-top: 9px; letter-spacing: 2px; text-transform: uppercase; text-align: center; } 
	.modern .icon-box i.li_clock { color:#d9ceff; }
	.modern .icon-box i.fa-sliders { color:#c9ed93; }
	.modern .icon-box i.fa-sun-o { color:#f9e55e; }
	.modern .icon-counter.li_bulb { color:#fdd537 }

	/* bloxes */
	.modern .blox1 { padding-top:60px; padding-bottom:30px; background-size: cover; background-color:#f4f2ef; }
	.modern .blox2 { background-size: cover; }
	.modern .blox4 { background-size: cover; background-color:#677842; }
	.modern .blox5 { padding-top:40px; padding-bottom:60px;  background: url('../images/homes/modslide8.jpg') repeat center; background-size: cover; }
	.modern .blox6 { padding-top:65px; background-size: cover; background-color:#202325; }


	/* # Home Agency 1
	================================================== */
	.agency1 #nav > li > a { font-family: "proxima-nova", sans-serif; font-size: 16px; }
	


	/* # Home Agency 2
	================================================== */
	.agency2 [class*="vc_span"] .container, .agency2 .container .container, .agency2 .columns .container, .agency2 .container.wrapping { width:auto; margin:0; padding:0; }
	#header.vertical-w ul.mega { display: none; }
	.agency2 .slog, .agency3 .slog { margin-top: 12px; }
	.agency2 .tagline-bold { text-transform: uppercase; }

	/* bloxes */
	.agency2 .blox1 { background-size: cover; background-color:#f8f8f8; }
	.agency2 .blox2 { padding-top:130px; padding-bottom:70px; background-size: cover; background-color:#50c4d5; }
	.agency2 .blox3 { background-size: cover; background-color:#f7f7f7; }

	/* # Home Agency 3
	================================================== */
	.agency3 .teaser-box2 h5.ts1 { background-color:#27bfd7 }
	.agency3 .teaser-box2 h5.ts2 { background-color:#ff5d5e }
	.agency3 .teaser-box2 h5.ts3 { background-color:#4edd2e }

	/* bloxes */
	.agency3 .blox1 { background-size: cover; background-color:#f8f8f8; }
	.agency3 .blox2 { padding-top:130px; padding-bottom:70px; background-size: cover; background-color:#50c4d5; }

	

	/* # Home Agency 4
	================================================== */
	.agency4 #header .nav-wrap2, .agency4 #header.sticky #nav-wrap.nav-wrap2 { text-align: center; max-width: 1062px; margin: 0 auto; padding: 20px 0; height: 90px; border-top: 1px solid #e8e8e8;  position:static; }	
	.agency4 #header.sticky .logo-sticky , .agency4 #header.sticky .logo-sticky img.img-logo-w3 { display:none; position:static; }
	.agency4 #nav > li > a { font-family: "proxima-nova", sans-serif; font-size: 16px; }
	.agency4 #header .center .img-logo-w1, .video #header .center .img-logo-w1, .shop #header .center .img-logo-w1 { margin-top: 20px; margin-bottom: 30px; }
	.agency4 #header .right-side h6 { display:none; }
	.agency4 h4.tagline-thin { text-align: center; }
	.video #header .nav-wrap2 { border-top: 0; }


	
	/* # Home App Presentaion
	================================================== */

	/* bloxes */
	.app .blox1 { background: url('../images/homes/1920x1080.jpg') repeat fixed center top; background-size: cover; min-height:890px; }
	.app .blox2 { padding-top:70px; padding-bottom:40px; background-size: cover;  background-color:#f4f2ef; }
	.app .blox3 { background-size: cover;  background-color:#181a1c; }
	.app .blox3 h4 { text-align: center; color: #85898d; }
	.app .blox3 p { color: #85898d; font-size: 15px; }


	/* # Home Food
	================================================== */
	.food #header { border-bottom: 3px solid #555; }
	.food .icon-box i.fa-cutlery { color:#d8c3ae; }
	.food .icon-box i.li_phone { color:#fd7c7d; }
	.food .icon-box i.fa-bicycle { color:#a0c14d; }
	.food .icon-box i.li_food { color:#f6dc15; }
	.food i.icon-counter.li_tv { color:#c1d7e2; }
	.food i.icon-counter.li_shop { color:#8dd1b4; }
	.food i.icon-counter.li_camera { color:#feabac; }

	/* bloxes */
	.food .blox1 { background-size: cover; background-color:#f4f9fc; }
	

	/* # Home campground
	================================================== */
/*	.campground .teaser-box1 .iconbg-w.tb1 { background-color:#ff7071; }
	.campground .teaser-box1 .iconbg-w.tb2 { background-color:#fce63b; }*/
	/*.campground .teaser-box1 .iconbg-w.tb3 { background-color:#86e36a; }*/
	
	.campground .teaser-box2 h5.tb1 { background-color:#ff5d5e; }
	.campground .teaser-box2 h5.tb2 { background-color:#27bfd7; }
	.campground .teaser-box2 h5.tb3 { background-color:#f77700; }
	.campground .teaser-box2 h5.tb4 { background-color:#4edd2e; }

	.campground .arrow .arrow-item span, .campground .star .star-item span { float: right; color: #ff835d; }
	
	/* bloxes */
	.campground .blox1 { padding-top:40px; padding-bottom:40px; background-size: cover; }
	.campground .blox2 { background: url('../images/homes/campground-sec-bg1.jpg') no-repeat center; background-size: cover;  }
	.campground .blox3 { padding-top:30px; padding-bottom:50px; background-size: cover; background-color:#03acdc; }

	
	/* # Home Realstate
	================================================== */
	.realstate .blox1 { background-size: cover; background-color:#f7f7f7; } 
	.realstate .blox2 { background: url('../images/homes/rs-sec-bg1.jpg') repeat center; background-size: cover; min-height:656px; }
	.realstate .slog-tx4 span { color: #737478; }
	.realstate .icon-box i.fa-mobile { color:#f5696a; }
	.realstate #nav > li > a, .shop #nav > li > a { font-family: "Arapey", sans-serif; font-size: 16px; text-transform: uppercase; letter-spacing: 2px; }

	/* # Home video intro
	================================================== */
	.video #nav > li > a { text-transform: capitalize; font-family: "futura-pt", sans-serif; font-weight: 400; letter-spacing: 1px; font-size: 16px; }
	.video .nav-wrap2 { border-bottom: none; }
	.video .blox1 { background: url('../images/homes/sunshinebg1.jpg') no-repeat center; background-size: cover; }
	.video .blox2 { background-size: cover; background-color:#f7f7f7; }


	/* # Home Beauty
	================================================== */
	.beauty .tp-caption a.white { background :#fff; border-radius: 2px; color: #444 !important; padding:13px 18px; text-shadow:none !important; font-size:12px; text-transform:uppercase; letter-spacing:1px; font-weight:700; }
	.beauty .tp-caption a.white:hover { background :#f9f9f9; color: #0094d7 !important; }

	/* bloxes */
	.beauty .blox1 { background: url('../images/homes/1920x570-1.jpg') no-repeat center; background-size: cover; }
	.beauty .blox2 { padding-top:30px; padding-bottom:50px; background-size: cover; background-color:#e53f51; }
	.beauty .blox3 { background: url('../images/homes/1920x1080.jpg') no-repeat center; background-size: cover; min-height:1080px; }
	.beauty .blox4 { background-size: cover; background-color:#f5175f; }
	.beauty .blox5 { padding-top:40px; padding-bottom:50px; background-size: cover; }



	/* # Home One Page
	================================================== */
	.one-page #contact-us p.aligncenter span, .one-page #contact-us p.aligncenter br { color: #777777; }
	.one-page i.fa-mobile, .one-page i.fa-envelope-o, .one-page i.fa-map-marker { font-size:18px; color:#e84c3d; }

	/* bloxes*/
	.one-page .blox1 { padding-top:170px; padding-bottom:100px; background-size: cover; background-color:#79d2d2; }
	.one-page .blox2 { padding-top:60px; background: url('../images/homes/prlx09.jpg') 50% -263.7px / cover no-repeat;" data-speed="10" data-type="background" }
	.one-page .blox3 { background-size: cover;  background-color:#f8f8f8; }
	.one-page .blox4 { padding-top:90px; padding-bottom:60px;  background: url('../images/homes/prlx08.jpg') repeat center; background-size: cover; }
	.one-page .blox5 { background-size: cover;  background-color:#f2f2f2; }


	/* # About Us
	================================================== */
	/* bloxes */
	.about-us .blox1 { background: url('../images/pages/abt2.jpg') no-repeat center; background-size: cover; }
	.about-us .blox1 h3.lintex span { color: #333; }
	.about-us .blox2 { background: url('../images/pages/abt3.jpg') no-repeat center; background-size: cover; }
	.about-us .blox3 { padding-top:80px;  background: url('../images/pages/slidepix11.jpg') no-repeat center; background-size: cover; min-height:570px; }
	.about-us .blox4 { background-size: cover; background-color:#50c4d5; }
	


	/* # About Us Modern
	================================================== */
	.about-us-modern .video-bg { min-height:500px; }
	.about-us-modern .blox1 { background-size: cover; background-color:#50c4d5; }	
	.about-us-modern .blox2 {  background: url('../images/pages/prlx08.jpg') no-repeat center; background-size: cover; background-color:#f2f2f2;  }	
	.about-us-modern .blox4 { padding-top:60px; padding-bottom:46px; background-size: cover; background-color:#f7f7f7; }


	/* # About Us Classic
	================================================== */
	.about-us-classic .blox1 { background-size: cover; }


	/* # Services
	================================================== */
	.services .icon-box9 i.fa-keyboard-o { color:#ff5d5e; }
	.services .icon-box9 i.fa-leaf { color:#fff; }

	.services .blox1, .services .blox2, .services .blox3, .services .blox4 { clear: none; }	
	.services .blox1 { background-image: url(../images/pages/674x490-1.jpg) !important; background-position: 0 0 !important; background-repeat: repeat !important; }	
	.services .blox2 { background-image: url(../images/pages/674x490-2.jpg) !important; background-position: 0 0 !important; background-repeat: repeat !important; }	
	.services .blox3 { background-image: url(../images/pages/674x490-3.jpg) !important; background-position: 0 0 !important; background-repeat: repeat !important; }
	.services .blox4 { background-image: url(../images/pages/674x490-4.jpg) !important; background-position: 0 0 !important; background-repeat: repeat !important; }
	.services .blox5 { padding-top:50px; background-size: cover;  background-color:#f9f9f9; }


	/* # Services Modern
	================================================== */
	.services-modern .blox1 { padding-top:100px;  background: url(../images/pages/modslide3.jpg) no-repeat center; background-size: cover; }
	.services-modern .icon-box10 i.li_pen, .services-modern .icon-box10 i.li_diamond, .services-modern .icon-box10 i.li_phone, .services-modern .icon-box10 i.li_world, .services-modern .icon-box10 i.fa-joomla, .services-modern .icon-box10 i.fa-video-camera, .services-modern .icon-box10 i.fa-wordpress, .services-modern .icon-box10 i.fa-apple, .services-modern .icon-box10 i.fa-android  { color:#1fadef; }


	/* # 
	================================================== */
	.campground .blox1 { background-size: cover; background-color:#f9f9f9; }
	.campground .icon-box7 i.fa-map-marker { color:#677842; }
	.campground .blox2 {
							background: url('../images/hero-camp.png') repeat center;
							background-size: cover;
							height: 400px;
						}
	
	.campground .blox3 { 
							padding-bottom:20px; 
							background-size: cover; 
							background-color:#f9f9f9; 
						}



	/* # Contact2
	================================================== */
	.contact2 .blox1 { background: url(../images/pages/blox9.jpg) no-repeat center; background-size: cover; }
	
	
	
	/* # Contact3
	================================================== */
	.contact3 .blox1 { background: url(../images/pages/blox9.jpg) no-repeat center; background-size: cover; }
	


	/* # Header 6
	================================================== */
	.container .container, .columns .container, .container.wrapping { width:auto; margin:0; padding:0; }



	/* # Header custom style
	================================================== */
	.modern #nav > li > a, .agency2 #nav > li > a, .food #nav > li > a, .agency3 #nav > li > a { text-transform: uppercase; font-size: 13px; font-family: "futura-pt", sans-serif; letter-spacing: 2px; font-weight: 500; }


	/* # Right Sidebar
	================================================== */
	.page-sidebar .t-gray { color: #333; }
	.page-sidebar .tab.tab_content { display: none; }
	.page-sidebar .tagcloud a { font-size: 8pt; }
	


	/* # Icon Boxes
	================================================== */
	.icon-boxes .icon-box i { color:#e53f51; }
	
	/* bloxes */
	.icon-boxes .blox1 { background: url(../images/pages/abtprx02.jpg) no-repeat fixed center top; background-size: cover; min-height:380px; }
	.icon-boxes .blox2 { background: url(../images/pages/blox6.jpg) no-repeat fixed center top; background-size: cover; min-height:380px; }



	/* # Portfolio Item
	================================================== */
	.portfolio-item .blox1 { padding-top:200px; background: url(../images/portfolios/wrk-blx1.jpg) no-repeat center; background-size: cover; min-height:700px; }
	.portfolio-item .tagline-bold { color: #3b454d; }



	/* # Index
	================================================== */
	.index .blox1 { background-size: cover; background-color:#f6f6f6; }
	.index .blox2 { padding-top:35px; padding-bottom:40px; background-size: cover; background-color:#111111; }
	.index .blox3 { background-size: cover; background-color:#f2f2f2; }
	
	/* # Login Page
	================================================== */
	
	.login-wrapper {
	  height: 100%;
	  background-color: #6d5cae;
	}
	.login-wrapper > * {
	  height: 100%;
	}
	.login-wrapper .bg-pic {
	  position: absolute;
	  width: 100%;
	  overflow: hidden;
	}
	.login-wrapper .bg-pic > img {
	  height: 100%;
	  opacity: 0.6;
	}
	.login-wrapper .login-container {
	  width: 496px;
	  display: block;
	  position: relative;
	  float: right;
	}
	.login-wrapper .bg-caption {
	  width: 500px;
	}
	.register-container {
	  width: 550px;
	  margin: auto;
	  height: 100%;
	}
	/* Responsive handlers : Login
	------------------------------------
	*/
	@media (max-width: 768px) {
	  .login-wrapper .login-container {
	    width: 100%;
	  }
	  .register-container {
	    width: 100%;
	    padding: 15px;
	  }
	}
	@media only screen and (max-width: 321px) {
	  .login-wrapper .login-container {
	    width: 100%;
	  }
	}